body {
    text-align: center;
    color: rgb(0, 0, 0);
    background-image: url("../images/green_cloud_background.jpg");
    min-height: 100%;
}

footer {
    text-align: right;
    margin-bottom: 0px;
    align-items: flex-end;
}

nav {
    text-align: left;
    font-size: 1.75rem;
}

.header {
    font-size: 4rem;
}

.home-text {
    width: 60%;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin: auto;
}

.home-text-header {
    font-size: 2.8rem;
}

.home-text-1 {
    font-size: 2rem;
}

.navigation_button {
    width: 200px;
    height: 100px;
    font-size: 1em;
    background-color: rgb(16, 27, 68);
}

a:link {
    color: rgb(85, 99, 16);
    transition: color 400ms ease-out;
    transition: font-size 400ms ease-out;
}

a:visited {
    color: rgb(85, 99, 16);
}

a:hover {
    color: beige;
    font-size: 2rem;
}

a:active {
    color: rgb(85, 99, 16);
}

.container {
    display: flex;
    flex-direction: column;
}

.flex_item4 {
    justify-content: flex-end;
}

.main-nav {
    flex-direction: row;
}