body {
    text-align: center;
    background-color: #0b1424;
    color: antiquewhite;
}

footer {
    text-align: right;
    margin-bottom: 0px;
}

nav {
    text-align: left;
    font-size: 1.75rem;
}

.header {
    font-size: 4rem;
}

.home-text {
    width: 60%;
    justify-content: center;
    justify-self: center;
    align-items: center;
    margin: auto;
}

.home-text-header {
    font-size: 2.8rem;
}

.home-text-1 {
    font-size: 2rem;
}